h1{
color:#36C;font-weight:bold;
  }
p{
background-color:red;
font-size:180%;
font-weight:1000;
color:purple;
text-indent:4cm;
text-decoration:overline;
text-transform:capitalize;
 }
body{
background-image:url("h.jpeg");
background-size:cover;
background-attachment:fixed;

}
.chint{
color:green;
}
#para{
color:white;
direction:rtl;
letter-spacing:5px;
word-spacing:5px;
}
h2{
text-shadow:7px 8px 16px blue;
}

